a { cursor: pointer }

.btn-facebook {
    background: #3B5998;
    color: #fff;

}

.btn-facebook:hover {
    color: #fff;
    opacity: 0.8;
}

.btn-delete-account {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}